http_interactions:
- request:
    method: GET
    uri: https://nettskjema.no/api/v3/form/123823/elements
  response:
    status: 200
    headers:
      x-application-gateway-proxy: api-own-auth
      origin-agent-cluster: ?1
      content-type: application/json
      tdm-reservation: '1'
    body:
      string: '[{"elementId":1641694,"questionId":null,"text":"Let talk about Nettskjema!
        This is a subheading!","description":null,"elementType":"HEADING","dateFormat":null,"sequence":1,"maxSelectedAnswerOptions":null,"imageUrl":null,"altText":null,"linearScaleType":null,"nationalIdNumberType":null,"repeatedNationalIdRequired":null,"nationalIdNumberOfLetters":null,"nationalIdNumberOfDigits":null,"isAutofill":null,"image":null,"isMandatory":false,"isHorizontal":false,"isRangeMarksShown":false,"externalElementId":null,"minimumValue":null,"maximumValue":null,"sendAdditionalRecipientEmail":false,"useForRedirectToForm":false,"minimumValueText":null,"midValueText":null,"maximumValueText":null,"numberOfDecimals":null,"routingReferenceIds":[],"answerOptions":[],"answerOptionsVisibilityFilter":[],"subElements":[],"validationScripts":[],"isAnswerHashed":false,"maxNumberOfCharacters":null,"isRandomizedOrder":false},{"elementId":1641695,"questionId":null,"text":null,"description":"<p>This
        is some text in the form, not a question but a descriptive text.</p>\n\n<p> </p>\n","elementType":"TEXT","dateFormat":null,"sequence":2,"maxSelectedAnswerOptions":null,"imageUrl":null,"altText":null,"linearScaleType":null,"nationalIdNumberType":null,"repeatedNationalIdRequired":null,"nationalIdNumberOfLetters":null,"nationalIdNumberOfDigits":null,"isAutofill":null,"image":null,"isMandatory":false,"isHorizont[...]
