http_interactions:
- request:
    method: get
    uri: https://nettskjema.no/api/v3/form/me
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-application-gateway-proxy: api-own-auth
      origin-agent-cluster: ?1
      content-type: application/json
      tdm-reservation: '1'
    body:
      encoding: ''
      file: no
      string: '[{"formId":123823,"title":"API test form","openFrom":"2023-06-01T20:55:49","openTo":"2024-06-02T02:00:02","lastSubmissionDate":"2023-06-01T20:59:50","modifiedDate":"2025-05-14T19:47:03","personalDataErasedDate":null,"deliveryDestination":"DATABASE","anonymous":false,"numberOfDeliveredSubmissions":3,"owners":3,"isDictaphone":false,"myFormsFormListingGroup":"OLD","open":false}]'
  recorded_at: 2025-06-06 11:39:46 GMT
  recorded_with: vcr/1.6.0, webmockr/2.0.0
