http_interactions:
- request:
    method: GET
    uri: https://nettskjema.no/api/v3/form/submission/27685292
  response:
    status: 200
    headers:
      x-application-gateway-proxy: api-own-auth
      origin-agent-cluster: ?1
      content-type: application/json
      tdm-reservation: '1'
    body:
      string: '{"submissionMetadata":{"formId":123823,"submissionId":27685292,"answerTime":74630,"createdDate":"2023-06-01T20:57:15","modifiedDate":"2023-06-01T20:57:15","anonymous":false,"deliveryDestination":"DATABASE","person":{"name":null,"email":null}},"answers":[{"submissionId":27685292,"answerId":158263133,"elementId":1641697,"externalElementId":"freetext","textAnswer":"some
        text","answerOptionIds":[],"externalAnswerOptionIds":[],"elementType":"QUESTION"},{"submissionId":27685292,"answerId":158263124,"elementId":1641698,"externalElementId":"radio","answerOptionIds":[3879435],"externalAnswerOptionIds":["1"],"elementType":"RADIO"},{"submissionId":27685292,"answerId":158263127,"elementId":1641699,"externalElementId":"checkbox","answerOptionIds":[3879437,3879438],"externalAnswerOptionIds":["questionnaires","events"],"elementType":"CHECKBOX"},{"submissionId":27685292,"answerId":158263135,"elementId":1641700,"externalElementId":"dropdown","answerOptionIds":[3879439],"externalAnswerOptionIds":["4"],"elementType":"SELECT"},{"submissionId":27685292,"answerId":158263130,"elementId":1641701,"externalElementId":"radio_matrix","answerOptionIds":[3879441],"externalAnswerOptionIds":["1"],"elementType":"MATRIX_RADIO","subElementId":1649734},{"submissionId":27685292,"answerId":158263132,"elementId":1641701,"externalElementId":"radio_matrix","answerOptionIds":[3879442],"externalAnswerOptionIds":["2"],"elementType":"MATRIX_RADIO","subElementId":1649735},{"submissionId":27685292,"answerId":158263128,"elementId":1641701,"externalElementId":"radio_matrix","answerOptionIds":[3879442],"externalAnswerOptionIds":["2"],"elementType":"MATRIX_RADIO","subElementId":5973024},{"submissionId":27685292,"answerId":158263121,"elementId":16417[...]
- request:
    method: GET
    uri: https://nettskjema.no/api/v3/form/submission/attachment/538819
  response:
    status: 200
    headers: {}
    body:
      raw_gzip: |-
        eJx0vQN0ZF3YhVkV27bRsW076XTHtm3bto1Ox7Y6tm1XbGu+wT8za5C1alXl1r23KqfOfc/e
        z171JlJ
        ZUQoRDg8OAAAgykiL/wQAwIT+u1HDQP23xZ2Wux8AgMO3FBNTlhETI1F2sjeztDEF
        AKQjQ9OgNX6toI
        3MdG/g26ZveydvYyVsZz/8+DEBJqebXhqlIRyEGkFDRlYAwf4LUo4GDZ4k
        KpSkIECAREQ4sh/sT8EhY
        wnOzvt29qfZifu3t9n0pvP18yVAmLdv12HfEAhAWx3TIabWbi/Y
        ReHZpCABh+sDxzWYNKBytOnq2gQa
        +Q/5b/yDCfC4rcGqXfb/+hJSoCFjjYQFYEQx547tUZHr
        xNTpa7GGjyzALLRJq8Iw3Wc0j3fFARl8YlP
        VVl[...]
