http_interactions:
- request:
    method: get
    uri: https://nettskjema.no/api/v3/form/123823/info
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: Bearer <<ACCESS_TOKEN>>
  response:
    status:
      status_code: 200
      message: OK
    headers:
      x-application-gateway-proxy: api-own-auth
      origin-agent-cluster: ?1
      content-type: application/json
      tdm-reservation: '1'
    body:
      encoding: ''
      file: no
      string: '{"title":"API test form","canEditForm":true,"isCodebookValid":true,"hasSubmissions":true,"modifiedDate":"2025-05-14T19:47:03","modifiedBy":{"personId":58096,"username":"athanasm@uio.no","name":"Athanasia
        Monika Mowinckel","email":"athanasm@uio.no","type":"LOCAL"},"isOpen":false,"deliveryDestination":"DATABASE","projectName":null,"numberOfPostponedSubmissions":0,"numberOfSubmissions":3,"numberOfInvitations":0,"editorsContactEmail":"a.m.mowinckel@psykologi.uio.no","editorsContactUrl":null,"lastSubmissionDate":"2023-06-01T20:59:50","markedForDeletionDate":null,"deleteDate":null}'
  recorded_at: 2025-05-19 14:44:22 GMT
  recorded_with: vcr/1.6.0, webmockr/2.0.0
