http_interactions:
- request:
    method: get
    uri: https://nettskjema.no/api/v3/form/123823/answers
    body:
      encoding: ''
      string: ''
    headers: []
  response:
    status:
      status_code: 200
      message: OK
    headers:
      content-type: application/x-ndjson
      x-application-gateway-proxy: api-own-auth
      tdm-reservation: '1'
    body:
      encoding: ''
      file: no
      string: |
        {"formId":123823,"submissionId":27685292,"answerId":158263133,"elementId":1641697,"externalElementId":"freetext","textAnswer":"some text","answerOptionIds":[],"externalAnswerOptionIds":[],"elementType":"QUESTION","createdDate":"2023-06-01T20:57:15","modifiedDate":"2023-06-01T20:57:15"}
        {"formId":123823,"submissionId":27685292,"answerId":158263124,"elementId":1641698,"externalElementId":"radio","answerOptionIds":[3879435],"externalAnswerOptionIds":["1"],"elementType":"RADIO","createdDate":"2023-06-01T20:57:15","modifiedDate":"2023-06-01T20:57:15"}
        {"formId":123823,"submissionId":27685292,"answerId":158263127,"elementId":1641699,"externalElementId":"checkbox","answerOptionIds":[3879437,3879438],"externalAnswerOptionIds":["questionnaires","events"],"elementType":"CHECKBOX","createdDate":"2023-06-01T20:57:15","modifiedDate":"2023-06-01T20:57:15"}
        {"formId":123823,"submissionId":27685292,"answerId":158263135,"elementId":1641700,"externalElementId":"dropdown","answerOptionIds":[3879439],"externalAnswerOptionIds":["4"],"elementType":"SELECT","createdDate":"2023-06-01T20:57:15","modifiedDate":"2023-06-01T20:57:15"}
        {"formId":123823,"submissionId":27685292,"answerId":158263130,"elementId":1641701,"externalElementId":"radio_matrix","answerOptionIds":[3879441],"externalAnswerOptionIds":["1"],"elementType":"MATRIX_RADIO","createdDate":"2023-06-01T20:57:15","modifiedDate":"2023-06-01T20:57:15","subElementId":1649734}
        {"formId":123823,"submissionId":27685292,"answerId":158263132,"elementId":1641701,"externalElementId":"radio_matrix","answerOptionIds":[3879442],"externalAnswerOptionIds":["2"],"elementType":"MATRIX_RADIO","createdDate":"2023-06-01T20:57:15","modifiedDate":"2023-06-01T20:57:15","subElementId":1649735}
        {"formId":123823,"submissionId":27685292,"answerId":158263128,"elementId":1641701,"externalElementId":"radio_matrix","answerOptionIds":[3879442],"externalAnswerOptionIds":[[...]
