http_interactions:
- request:
    method: GET
    uri: https://nettskjema.no/api/v3/me
  response:
    status: 200
    headers:
      x-application-gateway-proxy: api
      origin-agent-cluster: ?1
      content-type: application/json
      tdm-reservation: '1'
    body:
      string: '{"hasAccessForCourseEvaluation":false,"isPersonalDataResponsible":false,"displayName":"ccda25ce-8256-4c6f-ba71-7a4357dc6caf@apiclient","logoutLink":"/signout","isSuperUser":false,"isAuthenticated":true,"userType":"UNKNOWN_ROLE","hasAcceptedTos":true,"isSupportUser":false,"isAdministrativeUser":true}'
  recorded_at: 2025-07-02 19:56:25
recorded_with: VCR-vcr/1.7.0.91, webmockr/2.1.0
