http_interactions:
- request:
    method: PATCH
    uri: https://nettskjema.no/api/v3/form/123823/settings
  response:
    status: 400
    headers:
      x-application-gateway-proxy: api-own-auth
      content-type: application/json
    body:
      string: '{"message":"Valideringsfeil","errors":{"postponable":["Mellomlagring
        er bare tillatt for skjemaer med FEIDE-respondenter, er satt til å samle inn
        personopplysninger og som leverer til Nettskjema"]},"confirmForceCleanupErrors":{}}'
  recorded_at: 2025-07-02 19:56:26
recorded_with: VCR-vcr/1.7.0.91, webmockr/2.1.0
