http_interactions:
- request:
    method: PATCH
    uri: https://nettskjema.no/api/v3/form/123823/settings
    body:
      string: '{"postponable":true}'
  response:
    status: 400
    headers:
      x-application-gateway-proxy: api-own-auth
      content-type: application/json
    body:
      string: '{"message":"Valideringsfeil","errors":{"postponable":["Mellomlagring
        er bare tillatt for skjemaer med FEIDE-respondenter, er satt til å samle inn
        personopplysninger og som leverer til Nettskjema"]},"confirmForceCleanupErrors":{}}'
  recorded_at: 2025-08-19 19:41:05
recorded_with: VCR-vcr/2.0.0
