http_interactions:
- request:
    method: GET
    uri: https://nettskjema.no/api/v3/form/123823/settings
  response:
    status: 200
    headers:
      x-application-gateway-proxy: api-own-auth
      origin-agent-cluster: ?1
      content-type: application/json
      tdm-reservation: '1'
    body:
      string: '{"formId":123823,"formType":"DEFAULT","scoreResultDisplayType":"NONE","openFrom":"2023-06-01T20:55:49","openTo":"2024-06-02T02:00:02","title":"API
        test form","titleShort":null,"editorsContactEmail":"a.m.mowinckel@psykologi.uio.no","editorsContactUrl":null,"collectsPersonalData":true,"sensitivePersonalDataCollected":false,"personalDataSharedOutsideInstitutionWith":null,"personalDataPurposeTypes":["OTHER"],"personalDataPurposeDescription":"Testing
        the API","languageCode":"nb","shouldHideProgressBar":true,"shouldPreventDataManipulation":false,"codebookActivated":true,"afterDeliveryForwardFormIds":null,"maxSubmissionsForm":null,"maxSubmissionsPerson":1,"canNotAnswerMessage":null,"respondentGroup":"ALL","deleteSubmissionsAfterNumberOfDays":null,"postponable":false,"retainRespondentAccessAfterDelivery":false,"sendingReceiptToRespondent":false,"receiptText":null,"editorsSubmissionEmailType":"NONE","editorsSubmissionEmails":null,"deliveryDestination":"DATABASE","emailInvitationText":null,"emailReminderText":null,"automaticReminderIntervalInDays":null,"recurringInvitationNumber":null,"recurringInvitationIntervalInDays":null,"tsdPgpPublicKeyFingerprint":null,"editorCryptKeyDatabaseEncrypted":null,"editorCryptKeyDatabaseEncryptedFingerprint":null,"editors":[{"personId":132,"username":"areg@uio.no","name":"Are
        Dag Gulbrandsen","email":"areg@uio.no","type":"LOCAL"},{"personId":3439404,"username":"ccda25ce-8256-4c6f-ba71-7a4357dc6caf@apiclient","name":"nettskjemar","email":"athanasm@uio.no","type":"API_CLIENT"},{"personId":58096,"username":"athanasm@uio.no","name":"Athanasia
        Monika Mowinckel","email":"a.m.mowinckel@psykologi.uio.no","type":"LOCAL"}],"personsWithCopyPermission":[],"netgroupsEditor":[],"netgroupsWithCopyPermission":[],"consentForm":false,"randomizedOrder":false,"supportuser":{"theme":"DEFAULT"},"superuser":{"afterDeliveryForwardUrl":null,"afterDeliveryForwardCodebookValues":null,"receiptPageScript":null},"isDictaphone":false,"globalCopyPermissionEnabled":false,"titleForLogging":"\"API
        test form\" (id: 123823)"}'
  recorded_at: 2025-08-19 21:48:18
recorded_with: VCR-vcr/2.0.0
