http_interactions:
- request:
    method: GET
    uri: https://nettskjema.no/api/v3/form/123823/info
  response:
    status: 200
    headers:
      x-application-gateway-proxy: api-own-auth
      origin-agent-cluster: ?1
      content-type: application/json
      tdm-reservation: '1'
    body:
      string: '{"title":"API test form","canEditForm":true,"isCodebookValid":true,"hasSubmissions":true,"modifiedDate":"2025-08-19T21:41:06","modifiedBy":{"personId":3439404,"username":"ccda25ce-8256-4c6f-ba71-7a4357dc6caf@apiclient","name":"nettskjemar","email":"athanasm@uio.no","type":"API_CLIENT"},"isOpen":false,"deliveryDestination":"DATABASE","projectName":null,"numberOfPostponedSubmissions":0,"numberOfSubmissions":3,"numberOfInvitations":0,"editorsContactEmail":"a.m.mowinckel@psykologi.uio.no","editorsContactUrl":null,"lastSubmissionDate":"2023-06-01T20:59:50","markedForDeletionDate":null,"deleteDate":null,"receiptText":null}'
  recorded_at: 2025-08-19 19:41:06
recorded_with: VCR-vcr/2.0.0
